*
{
      outline: none;
}

html, body
{
    height: 100%;
    min-height: 100%;
    background-color: black;
    color: white;
    max-width:800px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

body
{
    margin: 0;

}

/*header.js*/
.header{
 
  text-align: center;
  width: 100%;
  height: 200px;
}

.header img{
  margin: auto;  
  display: block;
  margin-top: 40px;
}
.header #rect1{
  position: absolute;
  left: 17%;
  right: 58.93%;
  top: 20%;
  bottom: 83.56%;
}
.header #rect2{
    position: absolute;
    left: 64.27%;
    right: 20%;
    top: 18%;
    height: 3;
    bottom: 90.04%;
}
.header #rect3{position: absolute;
      left: 6.13%;
      right: 40.67%;
      top: -12%;
}
.header #rect4{position: absolute;
        left: 2.13%;
        right: 37.67%;
        top: -8.26%;
        bottom: 95.39%;
}
.header #rect5{position: absolute;
  left: 71.27%;
  right: 40%;
  right: 50%;
  top: -12%;
  bottom: 96.97%;
}
.header #rect6{position: absolute;
    left: 71.0%;
    right: 55.67%;
    top: -8.26%;
    bottom: 93.82%;
  }

/* Dearch Button*/

.tb
{
    display: table;
    width: 100%;  
}

  .td
  {
      display: table-cell;
      vertical-align: middle;
    
  }

input, button
{
      color:green;
      font-family: Nunito;
      padding: 0;
      margin: 0;
      border: 0;
      background-color: transparent;
      z-index: 5000;      
}

input[type="text"]
{
    width: 100%;
    height: 50px;
    font-size: 40px;
    line-height: 1;
    margin:30px;
    padding-left: 20px;
    background-color: white;
    border-radius: 50px;
}

input[type="text"]::placeholder
{
    color: green;
}

#searchbutton{
  position: relative;
    top: 30px;
    left: 30%;
    left: -15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: block;
    cursor: pointer;
    z-index: 1000;
}

/* PopularMovieList.js*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: black;
}

/* PopularMovie.js */
.gridBox{
  display: grid;
  
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.gridBox .gridAnchor .topleft {
   
    position: relative;
    left: 5px;
    top: 30px;
    background-color: green;
    color: honeydew;
    border-radius: 10px;
}

.percent
  {
    grid-column: 1;
    grid-row:1;
    background-color: green;
    color:white;
}

.gridAnchor
{
    max-width: 100%; 
    grid-row-end: 1;
}

.gridImage
{
    width: 100%;
    height: 100%;
    max-height: auto;
    object-fit: contain;
    top:0px;
}

.inputClass
{
  border: solid 1px black;
}

/*Movie,js*/
.moviedetail{
  margin-left: auto;
  margin-right: auto;
  max-width:600px;
  align-content: center;
}
 
.backgroundImage img{
  position: relative;
  width: 100%;
  height: 200px;
  width: 100%;
  align-content: center;
}
.midTier .MovieName{position: relative;
  height: 74.91px;
  left: 50px;
  right: 27px;
  top: 2px;    
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  color: #E3F4FC;}

.midTier .MovieDetails{
  position: relative;
  height: 60.14px;
  left: 50px;
  right: 27px;
  top: -15px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  color: #B8D8E6;

  }
  .profileImage{
    position: relative;
    top: -70px;
    left:0;
    float: left;
    margin: 10px;
    height: 213px;
    width: 150px;
    border-radius: 10%;
    }

  .movieOverview{
    position: relative;
    height: 28px;
    left: -170px;
    right: 0px;
    top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #E3F4FC;}

  .detailOverview{position: relative;
    height: 240px;
    left: 0px;
    right: 0px;
    top: 0px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #9FBBC7;}
